
#partieDroite aside a{
	
}
	#partieDroite aside div{
		text-align: center;
		margin-bottom: 2%;
		
	}
		#partieDroite aside div a h2{
			display: inline-block;
		}
		#partieDroite aside div p{
			display: inline-block;	
			margin-left: 2%;		
		}
		#partieDroite aside article{
		}
		#partieDroite aside article img{
			display: inline-block;
			width: 20%;
			vertical-align: top;
		}
		#partieDroite aside article ul{
			display: inline-block;
			vertical-align: top;
			margin-left: 1%;
			font-size: 14px;
		}
			#partieDroite aside article ul li{
				margin-bottom: 5%;			
				text-align: left;
			}
				#partieDroite aside article ul li img{
					display: inline-block;
					vertical-align: middle;
					width: 20px;
				}
				#partieDroite aside article ul li p{
					display: inline-block;
					vertical-align: middle;
					text-indent: 2px;
				}

