#partiePrincipale > article {
	border: 2px #EBEAEB outset; 
	background-color: #F4F4F4;
	width: 70%;
	margin-top: 5%;
	margin-left: 15%;
	padding: 1.5%;
}
	#partiePrincipale > article section{
		width: 15%;
		display: inline-block;
		vertical-align: middle;
		margin-right: 1%;
	}
		#partiePrincipale > article section img{
			margin-top: 3%;
			width: 100%; 
		}
	
	#partiePrincipale > article article{
		width: 59%;
		display: inline-block;
		vertical-align: top;
	}
		#partiePrincipale > article article h1{
			font-size: 140%;
			text-align: center;
			margin: 1%;
		} 
		#partiePrincipale > article article p{
			text-align: justify;
			text-indent: 4%;
		}
	
	#partiePrincipale > article table{
		width: 20%;
		display: inline-block;
		vertical-align: middle;
		padding-left: 4%;
	}

	#partiePrincipale > article table tr td{
		min-width: 40px;
		min-height: 16px;
		margin-top: 1px; 
	}
		/* les button + - 1 */
	#partiePrincipale > article table tr td > aside{
		width : 20px;
		height: 18px;
		color: white;
		text-align: center;
		margin-left: 40%;
		padding-top: 2px;
		border-radius: 6px;
		margin-top: 10px;
		display: inline-block;
		
	}
	 span{
		display: inline-block;
	}
	
	
	
