	#propositionAmelioration > li {
			padding: 1%;
			margin: 3% 2% 1% 2%;
		}
		
				/* imgage de présentation */
			#propositionAmelioration li img {
				display: inline-block;
				vertical-align: top;
				width: 16%;
				
			}
			
				/* description proposition */
			#propositionAmelioration li article {
				display: inline-block;
				vertical-align: top;
				width: 51%;
				margin-right: 2%;
				margin-left: 1.3%;
			}
				#propositionAmelioration li article h2 {
					text-align: center;
					font-size: 135%;
				
				}
				#propositionAmelioration li article > p {
					margin-top: 1%;
					text-align: justify;
					text-indent: 2%;
					
				}
			
				/* barre de progression */
			#propositionAmelioration li aside{
				display: inline-block;
				vertical-align: top;
				width: 26%;
			}
				#propositionAmelioration li aside ul li {
					margin-left: 2%;
					margin-top: 3%;
					margin-bottom: 9%;
				}	
					#propositionAmelioration li aside ul li div{
						display: inline-block;
						vertical-align: middle;
					}
					#propositionAmelioration li aside ul li img{
						display: inline-block;
						vertical-align: middle;
						width: 11.5%;
						float: right;
					}
