#propositionAmelioration {
	padding: 1%;
	border: 2px #EBEAEB outset; 
	background-color: #F4F4F4; 
	width: 70%;
	margin-left: 14.5%;
	margin-top: 4%;
}
	
	
#listeCommantaire{
	padding: 1%;
	border: 2px #EBEAEB outset; 
	background-color: #F4F4F4; 
	width: 50%;
	margin-top: 3%;
	margin-left: 34.5%;

}

	
		
		
		
		
		
		
		
		
		
