/* listeRevueEtEvenement */
	
#partiePrincipale #partieGauche >ul{
	width: 100%;
	border: 2px #EBEAEB outset; 
	background-color: #F4F4F4;
	margin-top: 2%;
	
}
	#partiePrincipale #partieGauche ul li{
		margin: 2%;
	}
	
	#partiePrincipale #partieGauche ul hr{
	}
			
			/* pour Revue  et Evenement */
		#partiePrincipale #partieGauche ul li img{
			display: inline-block;
			width: 10%;
			vertical-align: top;
		}

		 #partiePrincipale #partieGauche ul li article{
			display: inline-block;
			width: 82.5%;
			vertical-align: top;
			margin-left: 1%;
		 
		 }
			 #partiePrincipale #partieGauche ul li article > time{
				float: right;
				color: gray;
			 
			 }
			 #partiePrincipale #partieGauche ul li article h6{
				overflow: auto;
				font-weight: normal;  
			 }
				#partiePrincipale #partieGauche ul li article h6 a:hover{
					text-decoration: underline;
					color: #305EC6;
				}
					#partiePrincipale #partieGauche ul li article h6 a strong{
						font-size: 14px;
						color: #305EC6;  
					}
