
#partiePrincipale {
	font-size: 115%;
}
#partiePrincipale > h2 {
	font-weight: normal;
	margin: 1.5%;
	
}
#partiePrincipale > hr{
	width: 95%;
	margin: 0% 2.5% 0% 2.5%;
}

#partiePrincipale #partieGauche {
	margin-top: 2%;
}
	#partiePrincipale #partieGauche h2{
		text-indent: 2%;
		color: #FF8400;
		font-size: 120%;
	}
	
	
	
	
	
		
						
						
							
				 
					
