
#partiePrincipale > a{
	text-align: right;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
}


#partiePrincipale #discutionSection{
	width: 61%;
	display: inline-block;
	vertical-align: top;
	margin-top: 1%;
	margin-left: 3%;
	
}

