#profil_profil{
	border: 2px #EBEAEB outset; 
	background-color: #F4F4F4;
	width: 40%;
	display: inline-block;
	padding: 10px;
	margin-right: 4.5%;
	vertical-align: top;
	margin-top: 8%;
	overflow: auto;
}
#blocDeDroite{
	display: inline-block;
	width: 25%;
	margin-top: 8%;
}
#blocDeDroite article{
	min-width: 250px;
	margin-bottom: 10%; 
	text-align: center;
	border: 2px #EBEAEB outset; 
	background-color: #F4F4F4;
	padding: 10px;
	
} 
#blocDeDroite article:hover{
	background-color: #EFEFEF;
}

#blocDeDroite article h2{
	margin-bottom: 5px;
} 





