#ajous{
	font-size: 14px;
	color: blue;
	margin: 3px;
}

/*

#affichageRestau ul{
	border: 2px #EBEAEB outset; 
	background-color: #F4F4F4;
	width: 40%;
	margin-right: 5%;
	margin-bottom: 5%;
	padding: 0px 15px 15px 15px;
	float: right;
}
#affichageRestau ul li {
	border: 2px #EBEAEB outset; 
	background-color: #F4F4F4;
	margin: 1.5%;
	padding: 1.5%;
}
#affichageRestau ul h2{
	text-align: center;
	
}
#affichageRestau ul li p {
	padding: 2.5%;
}
#affichageRestau ul h4{
	text-align: center;
}
*/



